.mainContact {
    justify-content: center;
    overflow: auto;
    background-color: rgb(220, 227, 245);
    width: 80%;
    padding: 5rem;
    display: flex;
    align-items: center;
    border: 0.01rem solid #8d99ae;
    border-left: 0;
    overflow: auto;
}

.contactForm {
    border: 0.2rem solid rgb(42, 42, 70);
    border-radius: 1rem;
    padding: 2rem;
}

.contactForm .heading h1{
    margin: 0;
}

.contactForm div {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.contactForm div label {
    font-size: 2rem;
}

.contactForm div input, .Enquiry textarea {
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 0.1rem solid rgb(42, 42, 70);
    border-radius: 0.7rem;
    background-color: rgb(197, 197, 241);
    color: rgb(48, 48, 71);
}

.contactForm div:last-of-type {
    flex-direction: row;
    align-items: center;
}

input[type="checkbox"] {
    width: 2rem;
    height: 1.5rem;
    margin: 0;
}

button {
    padding: 1rem;
    width: 100%;
    margin: 1rem 0 0 0;
    background-color: rgb(163, 163, 221);
    color: rgb(28, 28, 59);
    font-size: 1.5rem;
    font-family: 'Mocando', cursive;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover, button:active {
    background-color: rgb(123, 123, 206);
    color: rgb(218, 218, 231);
}